.job_post_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5rem ;
    align-items: center;
    color: rgb(80, 80, 80);
    background-color: rgb(131, 249, 190);
    width: fit-content;
    padding: 1rem 3rem;
    border-radius: 1rem;
}
.job_post_container .heading{
    font-size: 4rem;
}
.job_post_container .inputBox{
    display: flex;
    flex-direction: column;
    min-width: 8rem;
    width: 25rem;
    padding-top: 1rem;
}
.job_post_container .inputBox .input_label{
    font-size: 1.5rem;
}

.job_post_container input{
    margin: 2px;
    border: black solid 2px;
    border-radius: 0.3rem;
    padding: 0 1rem;
}
.job_post_container .post-btn{
    margin: 2rem 0 ;
    padding: 0.5rem;
    background-color: rgb(27, 78, 188);
    border-radius: 0.5rem;
    color: aliceblue;
}